<div class="d-flex flex-row justify-content-between mb-3 border-bottom shadow-sm">
  <span>
    <img [src]="wine.imageUrl" alt="{{ wine.name }}" class="img-responsive" style="max-width: 150px;">
  </span>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-2">
    <h6 class="list-group-item-heading">{{ wine.name }}</h6>
    <p>{{wine.description}}</p>
    <p [textContent]="'Price: ' + wine.price + 'lv.'"></p>
    <div>
      <span>Your rating: </span>
      <app-rating [selected]="wine.yourRating"></app-rating>
    </div>
    <div class="container-fluid d-flex flex-row justify-content-end">
      <div class="col-5 d-flex form-group flex-row">
        <label for="order-wine">Quantity</label>
        <input class="form-control ml-2 mr-2" id="order-wine" type="number" min="0"/>
        <button class="btn btn-sm btn-dark">Add</button>
      </div>
    </div>
  </div>
</div>
