<a class="nav-link dropdown-toggle" appClickOutside (clickOutside)="closeMenu()" role="button" (click)="toggleMenu()">
  My orders</a>
<ul class="dropdown-menu bg-dark" [ngClass]="{'show': isOpen}">
  <a class="dropdown-item text-light" routerLinkActive="active" routerLink="/my-orders/received" [queryParams]="{'received': true}"
     (click)="toggleMenu()">Received orders</a>
  <a class="dropdown-item text-light" routerLinkActive="active" routerLink="/my-orders/sent" [queryParams]="{'received': false}"
     (click)="toggleMenu()">Sent orders</a>
  <a class="dropdown-item text-light" routerLinkActive="active" routerLink="/shopping-cart" (click)="toggleMenu()">Shopping-cart</a>
</ul>

