<div class="container mt-5">
  <li *ngIf="(wyWineries | async).length === 0" class="list-group-item">No wineries registered yet!</li>

  <button class="btn btn-light mt-2 mb-2" (click)="register()">Register new winery</button>


  <router-outlet name="wineries-outlet"></router-outlet>

  <div *ngIf="(wyWineries | async).length > 0" [@stagger]>
  <ul class="list-group" [@listItems] *ngIf="!registerMode && (wyWineries | async).length > 0, let i = index" >
      <app-my-wineries-item *ngFor="let wineryList of (wyWineries | async)" [winery]="wineryList"></app-my-wineries-item>
  </ul>
  </div>
</div>


