<div class="d-flex flex-column align-items-center" *ngIf="(orders | async).length > 0">
  <ul class="list-group mt-5">
      <app-shopping-cart-item *ngFor="let order of (orders | async)" [order]="order" (edit)="onClose($event)"></app-shopping-cart-item>
  </ul>
  <p class="border mt-1 p-3"><strong class="mr-2">Total order amount:</strong> {{totalOrderPrice | currency: 'EUR'}}</p>
  <div class="col-xs-12 col-md-6 col-md-offset-3 card p-3 mt-5" *ngIf="enterAddress">
    <form class="flex-column w-100 align-items-center" [formGroup]="deliveryAddressForm" (ngSubmit)="submitForm()">
      <div class="border-bottom mb-3">
        <h3 class="card-title text-dark">Enter delivery address</h3>
      </div>
      <label for="city">City</label>
      <input type="text" id="city" class="form-control" formControlName="city"/>
      <label for="street">Street</label>
      <input type="text" id="street" class="form-control" formControlName="street"/>
      <button class="btn btn-light btn-sm mt-3" type="submit" [disabled]="!deliveryAddressForm.valid">Confirm address
      </button>
    </form>
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-3 card p-3 mt-5" *ngIf="!enterAddress">
    <p>Address: {{deliveryAddressForm.get('city').value}}, {{deliveryAddressForm.get('street').value}}</p>
    <button class="btn btn-light btn-sm mt-3" type="button" (click)="editAddress()">Edit</button>
  </div>

  <div class="col-xs-12 col-md-6 col-md-offset-3 p-0 mt-1">
    <button class="btn btn-dark btn-sm mt-3 w-100" type="submit" [disabled]="!deliveryAddressForm.valid" (click)="sendOrder()">Sent orders</button>
  </div>
</div>
<ul class="list-group mt-5" *ngIf="(orders | async).length === 0">
  <li class="list-group-item list-group-item-action list-group-item-light text-center">
    No wines added to the cart!
  </li>
</ul>

